
.itemContainer{

    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 17rem;
    border-radius: 2%;
    box-shadow: 1px 4px 3px #d5d5d5;
}

.itemInfoContainer {
    display: flex;
    flex-direction: column;
    background-color: #00aeef;
    align-items: start;

}

.itemTitle{
    font-family: 'Roboto', sans-serif;
    height: 4rem;
    color: white;
    margin: 1rem;
}

.itemImage{
    width: 17rem;
    height: 22rem;
    object-fit: cover;

}
.itemImage:hover{
    object-fit: contain;
}

.itemPrice{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0.5rem 1rem;
}

.itemShowMore{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    width: 88%;
}

.itemShowMore:hover {
    background-color:#009ed7; 
    width: 15rem;
  }