.counterContainer{
    display: flex;
    margin: auto;
    width: 85%;    
    grid-area: counter;
    flex-direction: column;
}

.counterNumber{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.counterButtonContainer{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background-color: white;
    border: none;
    display: flex;
    cursor: pointer;
    padding: 0;
    margin: 0.2rem;
}
.addToCartButtom{
    font-family: 'Roboto', sans-serif;
    background-color: #3f7eff;
    font-size: 1.5rem;
    color: white;
    border: none;
    margin:  0.5rem 0;
    box-shadow: 1px 4px 3px #d5d5d5;
    cursor: pointer;
}